# Включите зависимости, необходимые для основного функционирования
# Например, если API будет использоваться в продакшене, включите его зависимости
-r requirements-api.txt
# Или если нужна часть тренировочных зависимостей
# -r requirements-training.txt